@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Instrument+Serif:ital@0;1&display=swap');

body {
    font-family: "Instrument Serif";
}

header {
    border: 2px rgb(218, 218, 218) solid;
    border-radius: 1em;
    background-color: rgb(250, 250, 250);
    position:sticky;
}

header ul {
    display:inline-flex;
    justify-content: space-around;
    width:100%;
    list-style: none;
    padding:0px;
    line-height: 0;
}

header ul li img {
    height:100px;
}

.hdtext {
    align-self: center;
    font-size: 150%;
    font-family: 'Epunda Slab';
    font-weight: 600;
}

.donate {
    text-align: center;
    font-family: "Bodoni Moda";
    display:flex;
    flex-direction: column;
    height:500px;
    align-items: center;
    justify-content: space-around;
    background-image: url("./assets/cali sea lion/adult swim.jpg");
    background-position-y: center;
    background-position-x: center;
    width:105%;
    margin-left:-2.5%;
    margin-top:10px;
    color:azure;
}

.donate h1 {
    font-weight:500;
    text-transform: uppercase;
}

.donate h3 {
    font-weight:300; 
}

.donate button {
    font-family: "Instrument Serif";
    font-size: 1.5em;
    font-weight:500;
    padding:10px;
    background-color: rgb(26, 26, 82);
    color:azure;
    margin:10px;
    letter-spacing: 3px;
}

.cover {
    background-color: rgba(0, 0, 0, 0.589);
    padding:10px 0px;
    width:100%;
}

article {
    text-align: center;
    font-size: 1.2em;
}

article h2 {
    font-family: "Bodoni Moda";
    font-weight:900;
}

#animalcount {
    font-size: 2em;
    font-weight: 900;
}